.authors{
    padding: 30px;
}
.authors-search-wrapper{
    margin-bottom: 30px;
}
.authors-search-wrapper input{
    width: 100%;
    height: 50px;
    border: 1px solid gray;
    padding: 10px 20px;
    font-size: 21px;
    border-radius: 999px;
}
.authors-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.author{
    width: 350px;
    height: 365px;
    border: 1px solid gray;
    margin-bottom: 20px;
    margin: 5px;
    background-color: white;
    text-align: center;
    padding: 15px;
}
.author-img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 7px;
}